.navbar{
    width: 90%;
    min-height: 45px;
    margin: auto;
}
.navbar__menu{
    justify-content: center;
}
.navbar__user{
    padding-bottom: 2px;
}
@media (max-width: 991px) {
    .navbar{
        width: 98%;
    }
    .navbar__user{
        position: absolute;
        padding-bottom: 2px;
        top: 0;
        right: 0;
    }
}